[submodule "pack/default/start/vim-polyglot"]
	path = pack/default/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "pack/vendor/start/vim-colors-solarized"]
	path = pack/vendor/start/vim-colors-solarized
	url = git@github.com:micha/vim-colors-solarized.git
